body{
  margin: 0;
  color: rgb(32, 32, 32);
}

.profile_container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: bisque;
  padding: 10px;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
}

.profile_pic{
  border-radius: 50%;
  width: 60px;
  height: 50px;
  box-sizing: border-box;
  padding: 0;
}

.user_name{
  font-size: 20px;
  color: rgb(32, 32, 32);
  font-weight: 500;
}
.user_name:hover{
  color: rgba(32, 32, 32, 0.5);
}

.addBlog{
  text-decoration: none;
  margin-right: 6px;
  color: rgb(32, 32, 32);
  font-weight: 500;
}
.addBlog:hover{
  color: rgba(32, 32, 32, 0.5);
}

.image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
  border: 0.8px solid rgb(32, 32, 32);
}

.blogs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  width: 500px;
}

.blog{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(236, 157, 67, 0.3);
  border-radius: 5px;
  padding: 5px 15px;
  gap: 4px;
  width: 300px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}